@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-hidden;
  }
}

@layer components {
  .text-none {
    font-size: 0px;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .logo {
    @apply font-medium font-ibm outline-none tracking-wider text-3xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-5xl;
  }

  .navbar {
    @apply z-10 p-1 sticky mx-auto flex items-center justify-around shadow;
  }

  .input__search-large {
    @apply max-w-lg flex items-center justify-around p-2 rounded-full bg-white-100 md:flex-grow md:rounded-none md:border-b md:bg-transparent md:px-4 md:max-w-[25%] focus-within:border-black;
  }

  .link {
    @apply outline-none rounded-md p-2 uppercase tracking-wider hover:text-black lg:p-5;
  }

  .link:hover span {
    @apply border-b-2 border-zinc-500;
  }

  .close-nav {
    @apply w-6 h-6 flex flex-col items-center justify-around cursor-pointer md:w-9 md:h-9;
  }

  .input-form {
    @apply rounded border border-black p-1 sm:w-full;
  }

  .label {
    @apply font-medium tracking-wide uppercase;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .user__form-input {
    @apply border rounded bg-slate-50 outline-none p-2;
  }

  .btn {
    @apply py-2 px-4 font-bold border rounded-lg;
  }

  .btn-sign {
    @apply w-3/4 items-center sm:w-1/2 lg:w-3/4 border-black;
  }
}
