@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-hidden;
  }
}

@layer components {
  .logo {
    @apply font-medium font-ibm outline-none tracking-wider text-3xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-5xl;
  }

  .navbar {
    @apply z-10 p-1 sticky mx-auto flex items-center justify-around shadow;
  }

  .input__search-large {
    @apply max-w-lg flex items-center justify-around p-2 rounded-full bg-white-100 md:flex-grow md:rounded-none md:border-b md:bg-transparent md:px-4 md:max-w-[25%] focus-within:border-black;
  }

  .link {
    @apply outline-none rounded-md p-2 uppercase tracking-wider hover:text-black lg:p-5;
  }

  .link:hover span {
    @apply border-b-2 border-zinc-500;
  }

  .rule {
    @apply bg-orange-200 relative p-2 rounded-lg tracking-wide md:text-xl lg:text-2xl;
  }

  .close-nav {
    @apply w-6 h-6 flex flex-col items-center justify-around cursor-pointer md:w-9 md:h-9;
  }

  .input-form {
    @apply rounded border border-black p-1 sm:w-full;
  }

  .label {
    @apply font-medium tracking-wide uppercase;
  }

  .user__form-input {
    @apply border rounded bg-slate-50 outline-none p-2;
  }

  .btn {
    @apply py-2 px-4 font-bold border rounded-lg;
  }

  .btn-sign {
    @apply w-3/4 items-center sm:w-1/2 lg:w-3/4 border-black;
  }

  .bg-card {
    background-color: #a1ffce;
    background-image: linear-gradient(90deg, wheat 0%, #fce 100%);
  }

  .bg-card-invert {
    background-color: #ea8d8d;
    background-image: linear-gradient(90deg, #a890fe 0%, #ea8d8d 100%);
  }

  .bg-card-selected {
    background-color: #2c3e50;
    background-image: linear-gradient(90deg, #f0cb35 0%, #fa8d8d 100%);
  }

  .bg-card-selected-invert {
    background-color: #f0cb35;
    background-image: linear-gradient(90deg, #fa8d8d 0%, #f0cb35 100%);
  }

  .bg-card-2 {
    background-color: #38ef7d;
    background-image: linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
  }

  .bg-card-2-selected-invert {
    background-color: #11998e;
    background-image: linear-gradient(90deg, #38ef7d 0%, #11998e 100%);
  }

  .rule-btn {
    @apply py-2 border border-black rounded-md flex-grow;
  }

  .add-a-rule {
    @apply p-4 w-[90%] block mx-auto my-2 sm:w-3/4 md:w-3/5 lg:w-2/4 outline-none border rounded-lg border-zinc-400 shadow-sm shadow-zinc-500;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .text-none {
    font-size: 0px;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .colorful-text {
    background-image: linear-gradient(
      to left,
      violet,
      indigo,
      green,
      blue,
      yellow,
      orange,
      red
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    max-width: max-content;
  }

  .colorful-text-invert {
    background-image: linear-gradient(
      to left,
      red,
      orange,
      yellow,
      blue,
      green,
      indigo,
      violet
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    max-width: max-content;
  }

  .animate-btn {
    @apply shadow-sm shadow-zinc-800 active:scale-95 active:shadow-transparent transition-all;
  }
  .animate-card {
    @apply shadow-md shadow-zinc-800 active:scale-95 active:shadow-sm active:shadow-zinc-800 transition-all;
  }
}
